.Chair {
    // Có cả chair & booking
    &.booking{ 
        background: red !important;
    }
    &.booked{
        background: grey !important;
        color: white;
        pointer-events: none;
    }
}